
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

.dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f1f1f1;
    min-width: 160px;
    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    font-family: "Exo 2", sans-serif;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: all 0.2s ease-in-out;
}

.dropdown-content a:hover {
    opacity: 1;
    transform: translateX(2px) scale(0.95);
    background-color: #ddd;
    border-left: 2px solid #B89146;
    color: #B89146;
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}
#bg-img {
    background-image: url('./ASSCET/edited\ banneer.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 1000px;
    /* justify-content: center; */
    /* width: 100%; */
}
#book-now-btn {
    font-weight: bold;
    margin-right: 50px;
    cursor: pointer;
    background-color: #B89146;
    border: none;
    padding: 20px 20px;
    width: 220px;
    text-transform: uppercase;
    transition: 0.3s ease all;
    z-index: 1;
    position: relative;
    color: white;
    overflow: hidden;
}
 #mainNavbar {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 999;
            transition: all 0.5s ease;
            background-color: transparent;
        }

        #mainNavbar.sticky {
            background-color: #0E1317 !important;
            transform: translateY(0);
        }

        #mainNavbar.hide {
            transform: translateY(-100%);
        }

        #mainNavbar.transparent {
            background-color: transparent !important;
        }

#book-now-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    background-color: #cec7ba;
    opacity: 0;
    z-index: -1;
    transition: all 0.5s ease;
}

#book-now-btn:hover,
#book-now-btn:focus {
    color: black;
}


#book-now-btn:hover::before,
#book-now-btn:focus::before {
    left: 0;
    right: 0;
    opacity: 1;
    color: black;
}

#book-now-btn:active {
    transform: scale(0.95);
    color: black;
}
#check-now-btn {
    font-weight: bold;
    margin-right: 50px;
    cursor: pointer;
    background-color: #B89146;
    border: none;
    padding: 20px 24px;
    width: 200px;
    text-transform: uppercase;
    transition: 0.3s ease all;
    z-index: 1;
    position: relative;
    color: white;
    overflow: hidden;

}

#check-now-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    background-color: #cec7ba;
    opacity: 0;
    z-index: -1;
    transition: all 0.5s ease;
}

#check-now-btn:hover,
#check-now-btn:focus {
    color: black;
}

#check-now-btn:hover::before,
#check-now-btn:focus::before {
    left: 0;
    right: 0;
    opacity: 1;
    color: black;
}

#check-now-btn:active {
    transform: scale(0.95);
    color: black;
}

#read-now-btn{
    font-weight: bold;
    margin-right: 50px;
    cursor: pointer;
    background-color: #B89146;
    border: none;
    padding: 20px 24px;
    width: 200px;
    text-transform: uppercase;
    transition: 0.3s ease all;
    z-index: 1;
    position: relative;
    color: white;
    overflow: hidden;

}
#read-now-btn::before{
      content: '';
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    background-color: #1a1a1a;
    opacity: 0;
    z-index: -1;
    transition: all 0.5s ease;

}
#read-now-btn:hover,
#read-now-btn:focus {
    color: black;
}
#read-now-btn:hover::before,
#read-now-btn:focus::before {
    left: 0;
    right: 0;
    opacity: 1;
    color: black;
}
#read-now-btn:active {
    transform: scale(0.95);
    color: black;
}
#div2 {
    /* background-color: blue; */
    background-image: url('./ASSCET/banner-1.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
    /* width: 200px; */
}
.testimonial-carousel .carousel-item {
    padding: 40px;
}

.testimonial-carousel .profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.testimonial-carousel .carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #999;
    opacity: 0.6;
}

.testimonial-carousel .carousel-indicators .active {
    background-color: goldenrod;
    opacity: 1;
}

.name {
    font-size: 1.5rem;
    font-weight: bold;
}

.role {
    color: goldenrod;
    margin-bottom: 15px;
}
#readmore1{
    color: #B89146;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 50px;
    cursor: pointer;
    margin-top: 50px;
     border: none;
     padding: 20px 24px;
     width: 200px;
     border: 1px solid #B89146;
}

#blog-imgs {
    transition: transform 0.3s ease, width 0.3s ease;
    width: 100%;
    display: block;
}


#blog-imgs:hover, #texthid {
    transform: scale(1.05);
    display: block;
    /* Zoom in */
}
/* Add background when menu is expanded */
#navbarContent.show {
  background-color: #1a1a1a; /* change to your preferred color */
  padding: 20px;
  border-radius: 10px;
  transition: all ease-in-out 0.5s;
}
#navbarContent {
  transition: background-color 0.3s ease;
}

@media (max-width: 575.98px) {
    #banner_text,
    #banner_text1 {
        font-size: 28px;
        text-align: center;
        margin-top: 120px;
    }
    #check-now-btn {
        width: 500px;
        height: 70px;
    }
    .navbar-brand{
        margin-right: 100px;
        justify-content: flex-start;
    }

    #video {
        width: 150px;
        height: 150px;
    }
    #accomadations{
        margin-top: 200px;
    }
    #accomadations-imags{
        width: 100%;
        width: 600px;
    }

    #rooms-imgs {
        margin-top: 500px;
    }

    #blog-2,
    #blog-3 {
        margin-top: 150px;
    }
    #footer {
        margin-top: 780px;
      }
}

/* Tablets (≥576px and <992px) */
@media (min-width: 576px) and (max-width: 991.98px) {
    #banner_text {
        font-size: 2.5rem;
        text-align: center;
        margin-top: 180px;
    }
    #check-in-div {
        margin-top: 200px;
        height: 850px;
    }
    #video {
        width: 200px;
        height: 200px;
        margin: 0 auto;
    }
    #accomadations-div{
        height: 700px;
    }
    #rooms-imgs {
        margin-top: 400px;
    }
    #footer {
        margin-top: 300px;
      }
}

/* Desktops and up (≥992px) */
@media (min-width: 992px) {
    #banner_text {
        margin-top: 200px;
        
    }
#h1{
    /* background-color: yellow; */
    color: white;
    margin-left: 500px;
    font-weight: bold;
    word-spacing: 20px;
    font-family: "Exo 2", sans-serif;
}
#h2{
    margin-left: 200px;
    color: white;
    font-weight: 700px;
    font-family: 'Exo 2',sans-serif;
    display: flex;
    justify-content: center;
    font-weight: bold;
    /* background-color: red; */
}
#accomadations{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}
#accomadation,img{
    display: flex;
    flex-direction: column;
    
}

    #check-in-div {
        margin-top: 348px;
    }

    #luxy-btns{
        display: flex;
        justify-content: end;
        /* margin-left: 300px; */
    }

    #check-now-btn {
        width: 200px;
    }
    #footer {
        margin-top: 300px;
    }
    .video-div{
        display: flex;
        justify-content: end;
        /* background-color: red; */
        margin-left: 350px;
        height: 200px;
    }
    
    #h12{
         color: white;
    /* margin-left: 500px; */
    font-weight: bold;
    word-spacing: 20px;
    font-family: "Exo 2", sans-serif;

    }
    #h22{
         /* margin-left: 200px; */
    color: white;
    font-weight: 700px;
    font-family: 'Exo 2',sans-serif;
    display: flex;
    /* justify-content: center; */
    font-weight: bold;
    width: 100%;
    /* background-color: red; */

    }

}
.video-div {
    width: 80px;
    height: 80px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    backdrop-filter: blur(4px);
    transition: 0.3s ease;
  }
  
  .video-div span {
    color: white;
    font-size: 30px;
    margin-left: 4px; /* to visually center the triangle */
  }
  
  .video-div:hover {
    transform: scale(1.1);
    border-color: #B89146;
  }


